.box{
  border: 1px solid red;
  width: 500px;
}

.item-img{
  width: 400px;
}

.main{
  display: flex;  /* flex : 가로정렬 */
  justify-content: center;
}

.win{
  border: 10px solid green;
  color: green;
}

.lose{
  border: 10px solid red;
  color: red;
}

.tie{
  border: 10px solid black;
  color: black;
}

;